PORT=8003
MONGODB_URI="add your mongodburl"
GROQ_API_KEY="add your groq api key"
GOOGLE_API_KEY="add your google api key"

CHAT_SERVICE="http://localhost:8002"
AUTH_SERVICE="http://localhost:8001"
REDIS_URL="redis://localhost:6379"

TAVILY_API_KEY="add your tavily api key"
OPENROUTER_API_KEY="add your open router api key"

AWS_REGION="ap-south-1"
AWS_ACCESS_KEY_ID=add aws access key
AWS_SECRET_KEY=add your aws secret key
AWS_BUCKET_NAME="add your aws s3 bucket name"

QDRANT_API_KEY=add your qdrant api key
QDRANT_URL=add qdrant url
